@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>

<h2>Admin</h2>
<table class="tableAdmin">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>User name</th>
        <th>Password</th>
    </tr>
    @foreach (var s in ViewBag.Admin)
    {
        <tr>
            <td>@</td>
        </tr>
    }
</table>